@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  font-family: Quicksand;
  color: white;
  background-color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;

}

.navbar h1 {
  color: pink;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: pink;
}

.blog-preview {
  max-width: 680px;
  margin: 60px 450px;
  padding: 10px 16px;
  border-bottom: 1px solid white;
  
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px pink;
}

.blog-preview h2 {
  font-size: 24px;
  color: pink;
  margin-bottom: 16px;
}