@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  font-family: Quicksand;
  color: white;
  background-color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;

}

.navbar h1 {
  color: plum;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {

  color: plum;

}

.content {
  margin: 40px 450px;
}

.blog-preview {
  max-width: 680px;
  margin-bottom: 60px;
  margin-top: 40px;
  padding: 6px 16px;
  border-bottom: 1px solid white;
  
}

.blog-preview:hover {

  box-shadow: 1px 3px 5px plum;

}

.blog-preview h2 {
  font-size: 24px;
  color: plum;
  margin-bottom: 16px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 26px;
  color: plum;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create h2 {
  font-size: 20px;
  color: plum;
  margin-bottom: 30px; 
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid white;
  box-sizing: border-box;
  display: block;
  color: white;
}

.create button {
  background: plum;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

}